* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header > h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

.randomPic {
  margin: 100px 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 10px solid #021a40;
  border-radius: 5%;
}

.randomPic img {
  width: 100%;
  height: auto;
}
body {
  background-color: wheat;
}
